/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.emacs.desktop*
.DS_Store
/resources/tzdata/Makefile
/resources/tzdata/README
/resources/tzdata/leapseconds.awk
/resources/tzdata/yearistype.sh
